<html>
	<head>
	{% include "basic/includes.html" %}

	</head>
	
	<body>
		{% include "basic/header.html" %}
		<div class="container-sm">
			<div class="row">
				<div class="col-md-8">
					<div class="shadow container bg-light mb-5">
						<div class="row">
							<div class="container px-4 pt-5 pb-4">
								<div class="row">
									<div class="col">
										<h2>Publications</h2>
										<p>Last Updated: 27th May</p>
										<p><i><a target="_blank" href="https://ieeexplore.ieee.org/document/9053845">N. Takahashi, M. K. Singh, S. Basak, P. Sudarsanam, S. Ganapathy and Y. Mitsufuji, "Improving Voice Separation by Incorporating End-To-End Speech Recognition," ICASSP 2020 - 2020 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Barcelona, Spain, 2020, pp. 41-45.</a></i></p>
										<p><i><a target="_blank" href="https://arxiv.org/abs/2005.12147">Mayank Kumar Singh, Sayan Banerjee, Subhasis Chaudhuri, "NENET: An Edge Learnable Network for Link Prediction in Scene Text"</a></i></p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				{% include "basic/intro.html" %}
			</div>
		</div>
		
	</body>
	
</html>