<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110954752-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

 		 gtag('config', 'UA-110954752-1');
		</script>

		<title>Mayank's Resume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
					<div id="intro">
						<h1>Welcome</h1>
						<p>The work I have done till now compressed to the .RESUME format </p>
						<header id="header">
							<a href=static/pdf/CV_2Page.pdf  target="_blank" class="logo">Resume PDF</a>
						</header>
					</div>
					

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/">Introduction</a></li>
							<li class="active"><a href="Resume">Resume</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://github.com/mayank-git-hub" class="icon fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://www.facebook.com/mayanksingh1111" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>My Resume</h1></h1>
								</header>
								<header>
									<h2>Academics and Courses Undertaken</h2>
								</header>
								<ul>
									<li>Current CPI is 8.88</li>
									<br>
									<h3>Completed Courses</h3>
									<li>Computer Vision</li>
									<li>Probability and Random Process</li>
									<li>Linear Algebra</li>
									<li>Data Analysis and Interpretation</li>
									<li>Applied Linear Algebra</li>
									<li>Computer Networks</li>
									<li>Networks Theory</li>
									
								</ul>
								<header>
									<h2>Scholastic Achievements</h2>
								</header>

								<ul>
									<li>Secured All India Rank of 108 in JEE Advance 2016 among 0.2 million candidates</li>
									<li>Secured All India Rank of 1484 in JEE Mains 2016 among 1.2 million candidates</li>
									<li>Recipient of prestigious KVPY fellowship with All India Rank of 363 (/60,000)</li>
									<li>Scored 410/450 in BITSAT’16</li>
								</ul>

								<header>
									<h2>Research Projects</h2>
									<p>Contains some of the research projects I have undertaken while being in IIT <br>(Already mentioned in detail in the <a href="/">Introduction Page</a>)</p>
								</header>

								<header>
									<h3>Deep Audio Visual Source Separation<br> | Research Project</h3>
									<p>Guide Prof. Rajbabu Velmurugan and Naoya Takahashi, SONY Corp.</p>
								</header>

								<ul>
									<li>Enhanced ConvTasNet to work with lip video features on the AVSpeech dataset</li>
									<li>Achieved State of the Art Results on it, beating Google and Oxford’s implementation</li>
								</ul>

								<header>
									<h3>Segmentation of Hyperspectral Images of Cancerous tissues<br> | Research Project</h3>
									<p>Guide: Prof. Amit Sethi, Department of Electrical Engineering, IIT Bombay</p>
								</header>

								<ul>
									<li>Applied different algorithms like Non Negative Matrix Factorisation (NMF),<br> Semi- Supervised NMF, Graph Regularised NMF and Neural Networks</li>
									<li>Used spatial context to improve segmentation accuracy</li>
								</ul>

								<header>
									<h3>Unsupervised Initialization of Deep Learning models<br> | Research Project</h3>
									<p>Guide: Prof. Amit Sethi, Department of Electrical Engineering, IIT Bombay</p>
								</header>

								<ul>
									<li>Aim was to address scarce availability of reliable data and using less data to reach state-of-the-art results.</li>
									<li>Used weakly supervised methods, Siamese triplet networks on state-of-the-art ImageNet models</li>
								</ul>

								<header>
									<h3>ISBI 2018: Diabetic Retinopathy, Segmentation of lesions<br> | Research Project</h3>
									<p>Guide: Prof. Amit Sethi, Department of Electrical Engineering, IIT Bombay</p>
								</header>

								<ul>
									<li>Aim - Segmentation and classification of the lesions in patients of Diabetic Retinopath</li>
									<li>Applied state-of-the-art algorithm fusion-net for segmentation and Zoom-In Net for classification.</li>
								</ul>

								<header>
									<h3>Graph Convolution for Text Recognition<br> | Research Project</h3>
									<p>Guide: Prof. Shubhasis Choudhary, Director of IIT Bombay</p>
								</header>

								<ul>
									<li>Implemented the CRAFT text-detection training model based on weak supervision <a href=https://github.com/autonise/craft-remade>Github Repository</a></li>
									<li>Applied state-of-the-art algorithm fusion-net for segmentation and Zoom-In Net for classification.</li>
								</ul>

								<header>
									<h3>Whole Slide Image Stitching using DC motor video<br> | Research Project</h3>
									<p>Guide: Prof. Amit Sethi, Department of Electrical Engineering, IIT Bombay</p>
								</header>

								<header>
									<h2>Hobby Projects</h2>
									<p>Contains some of the hobby projects I have undertaken while being in IIT <br>(Already mentioned in detail in the <a href="/">Introduction Page</a>)</p>
								</header>

								<header>
									<h3>Implementation of Neural Networks in C++<br> | Research Project</h3>
									<p>Hobby Project</p>
								</header>

								<ul>
									<li>Implemented feed forward Neural Networks using Stochastic Gradient Descent with additional <br> features -Momentum Based SGD, Normalisations from scratch on MNIST dataset.</li>
								</ul>

								<header>
									<h3>Kaggle Competition</h3>
									<p>Hobby Project</p>
								</header>

								<ul>
									<li>iMaterialist Challenge (Furniture) at FGVC5</li>
									<li>Trained ResNet-152, NASNet model using extensive class specific data augmentation.</li>
									<li>Got a rank of 30 under the team name 'Artificial incoherence'</li>
								</ul>

								<header>
									<h3>Text Detection and Recognition</h3>
									<p>Hobby Project</p>
								</header>

								<ul>
									<li>Implemented Pixel-Link for Text Detection on <a href=https://github.com/mayank-git-hub/Text-Recognition>GitHub</a></li>
									<li>Achieved an F1-score of 74% which is 6% more than Google’s on our custom dataset consisting of passports, aadhar cards, driving license cards and other documents which we annotated using our own annotation tool built using javascript.</li>
								</ul>

								<header>
									<h3>RSA Key Encryption</h3>
									<p>Guide: Prof Bernard L. Menezes, Department of Computer Science, IIT Bombay</p>
								</header>

								<ul>
									<li>Coded in C++ to generate RSA key ,encrypt given data(integer) and also decrypt it</li>
									<li>Implemented Modulo addition, Multiplication and Exponentiation</li>
									<li>GCD and inverse Modulo N</li>
									<li>Discrete logarithm using Pohlig-Hellman</li>
								</ul>

								<header>
									<h2>Internships</h2>
									<p>It was a great experience working with these institutions - </p>
								</header>

								<header>
									<h3>Research Internship, SONY Japan: May - July 2019</h3>
								</header>

								<ul>
								    <li>Worked with Audio Technology Research Department in SONY Japan, Osaki to improve Deep Audio Visual Source Separation</li>
								    <li>Used WaveNet like architecture, Temporal Convolution for audio speech separation and used visual features for improving separation SISNR and surpassed current SOTA implementations.</li>
								</ul>

								<header>
									<h3>Research Internship, HDFC Life: May - July 2018</h3>
								</header>

								<ul>
								    <li>Automated customer interaction by automating questions asked using Reinforcement Learning.</li>
								    <li>Feature Engineering and Clustered Customer data for extracting useful statistics and analysis of the algorithm</li>
								</ul>

								<h3>Programming Languages</h3>
								
								<div class="row">
									<div class="4u 8u$(small)">

										<h4>Proficient</h4>
										<ul>
											<li>Python</li>
											<li>C++/C</li>
											<li>JAVA</li>
											<li>Javascript</li>
										</ul>
                                    </div>
                                    <div class="4u 8u$(small)">
										<h4>Basic</h4>
										<ul class="alt">
											<li>MATLAB</li>
											<li>Shell Script</li>
											<li>Arduino</li>
											<li>NgSpice</li>
										</ul>
									</div>
									<div class="4u 8u$(small)">
										<h4>Basic</h4>
										<ul class="alt">
											<li>VHDL</li>
											<li>AutoCad</li>
											<li>SolidWorks</li>
										</ul>
									</div>
							    </div>

							    <h3>Deep learning models</h3>
								
								<div class="row">
									<div class="3u 8u$(small)">

										<h4>Classification</h4>
										<ul>
											<li>ResNets</li>
											<li>Inception-Net</li>
											<li>NASNet</li>
											<li>Capsule-Net</li>
											<li>Zoom-In-Net</li>
										</ul>
                                    </div>
                                    <div class="3u 8u$(small)">
										<h4>Segmentation</h4>
										<ul class="alt">
											<li>UNet</li>
											<li>Fusion-Net</li>
											<li>ResNet-UNet</li>
										</ul>
									</div>
									<div class="3u 8u$(small)">
										<h4>Feature Extraction</h4>
										<ul class="alt">
											<li>Siamese Networks</li>
											<li>AutoEncoders</li>
											<li>Variational AutoEncoders</li>
										</ul>
									</div>
									<div class="3u 8u$(small)">
										<h4>Audio</h4>
										<ul class="alt">
											<li>WaveNet</li>
											<li>ConvTasNet</li>
											<li>TasNet</li>
										</ul>
									</div>
							    </div>

							    <h3>Web & Android Development</h3>
								
								<div class="row">
									<div class="6u 8u$(small)">

										<h4>Server Side</h4>
										<ul>
											<li>Django</li>
											<li>Flask</li>
											<li>AWS</li>
										</ul>
                                    </div>
                                    <div class="6u 8u$(small)">
										<h4>Client Side</h4>
										<ul class="alt">
											<li>Android Studio(JAVA)</li>
											<li>HTML</li>
											<li>JS</li>
										</ul>
									</div>
							    </div>

							    <header>
									<h2>Positions of Responsibility</h2>
								</header>

								<header>
									<h3>Co-Founder and Director, Autonise AI</h3>
								</header>

                                <ul>
									<li>Founded a team of 8 with the vision to act as Technical Consultant in the field of Machine Learning.</li>
									<li>Targeted the domains - 
										<ul>
											<li>Text Detection and Recognition</li>
											<li>Quant Algorithms</li>
											<li>Facial Segmentation</li>
										</ul>
									</li>
								</ul>

								<header>
									<h3>Mentoring</h3>
								</header>

                                <ul>
									<li>GyanAngels - Mentored two mentees in 10th Grade in Machine Learning and Advanced Mathematics in a startup.</li>
									<li>Summer of Science - Mentored a group of freshers and cultivated a basic understanding of ML concepts.</li>
									<li>Institute Technical Summer Project - Supervised a team for building a handwritten letter recognition, working in real time.</li>
								</ul>

								<header>
									<h3>Hostel Positions of Responsibility</h3>
								</header>

                                <ul>
									<li>Sports Secretary, 2017</li>
									<li>Technical Councillor, 2018</li>
								</ul>

								<header>
									<h2>References</h2>
									<p>I have been lucky to work under some great people and have put them as references -</p>
								</header>

                                <ul>
									<li><b>Professor Shubhasis Choudhary</b>, Directory of Indian Institute of Technology, Bombay<br>Contact Info: <a href=https://mail.google.com/mail/u/0/?view=cm&fs=1&to=sc@ee.iitb.ac.in&su=In%20Reference%20of%20Mayank%20Kumar%20Singh&tf=1 target="_blank"> sc@ee.iitb.ac.in</a>
									</li>
									<li><b>Professor Amit Sethi</b>, Electrical Engineering, Indian Institute of Technology, Bombay<br>Contact Info: <a href=https://mail.google.com/mail/u/0/?view=cm&fs=1&to=asethi@ee.iitb.ac.in&su=In%20Reference%20of%20Mayank%20Kumar%20Singh&tf=1 target="_blank"> asethi@ee.iitb.ac.in</a>
									</li>
									<li><b>Professor Rajbabu Velmurugan</b>, Electrical Engineering, Indian Institute of Technology, Bombay<br>Contact Info: <a href=https://mail.google.com/mail/u/0/?view=cm&fs=1&to=rajbabu@ee.iitb.ac.in&su=In%20Reference%20of%20Mayank%20Kumar%20Singh&tf=1 target="_blank"> rajbabu@ee.iitb.ac.in</a>
									</li>
								</ul>
							</section>

								<footer>
									You can contact me through the links mentioned below -
								</footer>
						</div>

				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
								<section>
									<h3>Phone</h3>
									<p><a href="tel:+91-8454951729">+91-8454951729</a></p>
								</section>
									<section>
										<h3>Email</h3>
										<p><a href=https://mail.google.com/mail/u/0/?view=cm&fs=1&to=mayank25031998@gmail.com&su=Contacting%20from%20Webpage&cc=mayanksingh@iitb.ac.in&tf=1 target="_blank"> mayank25031998@gmail.com, mayanksingh@iitb.ac.in</a>
									</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									
									<li><a href="https://github.com/mayank-git-hub" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.facebook.com/mayanksingh1111" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
