<html>
	<head>
	{% include "basic/includes.html" %}

	</head>
	
	<body>
		{% include "basic/header.html" %}
		<div class="container-sm">
			<div class="row">
				<div class="col-md-8">
					<div class="shadow container bg-light mb-5">
						<div class="row">
							<div class="col">
								<div class="px-4 pt-5">
									<h2>Research <button type="button" class="btn btn-light btn-outline-dark" onClick="window.open('https://scholar.google.com/citations?hl=en&authuser=1&user=ky_QjGgAAAAJ');">Visit my google scholar profile</button></h2>
									<img class="pt-3" src="/static/Images/Research/research.png" width="100%">
								</div>
							</div>
							<div class="container px-4 pt-5 pb-4">
								<div class="row">
									<div class="col">
										<p>
											Last Updated: 26th April
										</p>
										<p>
											My research goal is to understand what intelligence means and trying to reproduce it artificially so that we can have a tool which will reduce the development process drastically in every field. I believe that to achieve this we would require a good understanding of psychology, and an intutive sense of why and how humans function.
										</p>
										<p>
											I started my journey in the academia by focusing on Computer Vision because of its popularity and ease of applicatoin but my interests have diverged into graphs and audio as well.
										</p>
										<p>
											I have mentioned some brief description of my publications below. To get a list of all my publications please visit <a class="" href="/publications">here <i class="fa fa-external-link" style="font-size:12px"></i></a>.
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="shadow container bg-light mb-5 mt-4">
						<div class="row">
							<a href="/research/GraphConvolution"><img src="/static/Images/Content/GraphConvolution/HowGCNNWorks.png" width="100%"></a>
							<div class="container px-4 pt-5 pb-4">
								<div class="row">
									<div class="col">
										<a class="hrefWithoutDecoration" href="https://arxiv.org/abs/2005.12147" target="_blank"><h2>NENET: An Edge Learnable Network for Link Prediction in Scene Text <i class="fa fa-external-link" style="font-size:12px"></i></h2></a>
										<p>Last Updated: 27th May</p>
										<p>Text detection in scenes based on deep neural networks have shown promising results. Instead of using word bounding box regression, recent state-of-the-art methods have started focusing on character bounding box and pixel-level prediction. This necessitates the need...</p>
										<button type="button" class="btn btn-light btn-outline-dark" onClick="window.location = '/research/GraphConvolution';">Continue Reading</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="shadow container bg-light mb-5">
						<div class="row">
							<a href="/research/VoiceSeparation"><img src="/static/Images/Content/VoiceSeparation/ICASSP2020.png" width="100%"></a>
							<div class="container px-4 pt-5 pb-4">
								<div class="row">
									<div class="col">
										<a class="hrefWithoutDecoration" href="https://ieeexplore.ieee.org/document/9053845" target="_blank"><h2>Improving Voice Separation by Incorporating End-to-End Speech Recognition <i class="fa fa-external-link" style="font-size:12px"></i></h2></a>
										<p>Last Updated: 26th April</p>
										<p>Recent work in speech separation works good in constrained environments but still perform poorely in noisy backgrounds. To further improve voice separation in noisy environments we propose using transfer learning from Automatic Speech Recognition Models. We extract…</p>
										<button type="button" class="btn btn-light btn-outline-dark" onClick="window.location = '/research/VoiceSeparation';">Continue Reading</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				{% include "basic/intro.html" %}
			</div>
		</div>
		
	</body>
	
</html>